*{
	box-sizing: border-box;
}
html, body{
	background: #efefef;
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container{
	background: #fff;
	min-height: 100%;
	width: 80%;
	margin: 0 auto;
	padding: 15px;
	position: relative;
}

h1{
	border-bottom: 2px solid #000;
}

blockquote{
	display: inline-block;
	font-size: 16px;
	font-family: Georgia, serif;
	padding: 0 18px;
	position: relative;
}

blockquote::before,
blockquote::after{
	font-family: "Times New Roman", serif;
	font-size: 36px;
	position: absolute;
	top: -13px;
}
blockquote::before{
	content: '\201C';
	right: 100%;
}
blockquote::after{
	content: '\201D';
	left: 100%;
}

blockquote cite{
	display: block;
	margin-top: 10px;
	text-align: right;
	font-style: normal;
}
blockquote cite::before{
	content: '\2014 ';
}

.copyright span{
	display: inline-block;
	transition: .3s all;
	cursor: pointer;
}
.spinny{
	transform: rotate(180deg);
}

.smiley{
	font-size: 25px;
	position: absolute;
	top: 25px;
	right: 30px;
}